@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Scripts/JavaScript1.js"></script>
<div class="table-responsive">
    <table id="mainTable" class="table table-striped">
        <tr id="titleRow">

        </tr>
    </table>
    <button class="btn .btn-success">Save</button>
</div>

<div id="EditEntityForm">
    lol
</div>